body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: red;
    display: inline-block;
}

#elc{
    display: inline;
}

#right{
    float: right;
}
header p {
    margin: 5px 0;
    font-size: 1.2em;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: left;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.gallery img {
    width: 300px;
    height: auto;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    
}

.gallery img:hover {
    transform: scale(1.05);
}

.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.brands img {
    width: 150px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

#msg{
    font-size: 2em;
    color: rgb(1, 1, 172);
    text-align: center;
}